<template>
  <v-card>
    <v-toolbar dark color="success">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>

    <v-divider></v-divider>

    <v-container>
      <v-form ref="form">
        <v-text-field v-model="email" type="email" label="Email" required append-icon="mdi-email"></v-text-field>
        <v-text-field v-model="password" type="password" label="Password" required append-icon="mdi-lock"></v-text-field>
        <v-btn color="primary" @click="submit">Login</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
  import { mapActions } from "vuex";

  export default {
    name: 'LoginComponent',
    
    data: () => ({
      email: '',
      password: ''
    }),

    methods: {
      close(){
        this.$emit('closed', false)
      },
      
      submit(){
        const config = {
          method: "post",
          url: this.$apiDomain+'/auth/login',
          data: {
            email: this.email,
            password: this.password
          }
        }

        this.axios(config).then((response) => {
          // update vuex
          this.setToken(response.data.access_token)
          // display info
          alert('login sukses')
          // close dialog
          this.close()
        }).catch((error) => {
          console.log(error);
          alert('login gagal')
        })
      },

      ...mapActions({
      setToken: 'auth/setToken'
    })
    }
  }

</script>