<template>
<v-container>
  <v-row>
    <v-col class="text-center">
      <h1>Pilih Kategori</h1>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12" md="4" class="pa-4" v-for="category in categories" :key="category.id">
      
        <v-card class="text-center d-block text-h6 pa-10" :to="'/category/'+category.id">
            {{category.name}}
        </v-card>
      
    </v-col>
  </v-row>
</v-container>
</template>

<script>
  export default {
    name: 'CategoryIndex',
    data: () => ({
      apiDomain: '',
      mediaDomain: '',
      categories: [
        {name: '', id: ''}
      ]
    }),
    methods: {
      getAll(){

      const config = {
        method: 'get',
        url: this.apiDomain+'/category'
      }

      this.axios(config)
        .then(response => {
          this.categories = response.data.data
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        })
      }
    },
    created() {
      this.apiDomain = this.$apiDomain
      this.mediaDomain = this.$mediaDomain
      this.getAll()
    }
  }
</script>