<template>
  <div class="object" style="padding:0px 90px;">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>
            Kategori: {{category.name}}
          </h2>
        </v-col>
        <v-col cols="12" md="4" v-for="object in category.objects" :key="object.id">
          <v-card :loading="loading" class="mx-auto my-2" max-width="374">
            <v-img height="250" :src="mediaDomain+object.featured_image" v-if="object.featured_image"></v-img>
            <v-img height="250" src="https://pix10.agoda.net/hotelImages/4869553/0/361de54823a1fe21058faaca71e86567.jpg?ca=24&ce=0&s=1024x768" v-else></v-img>
            
            <v-card-title>{{object.name}}</v-card-title>

            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating :value="(object.average_rating ? object.average_rating:0)" color="amber" dense half-increments readonly size="14"></v-rating>

                <div class="grey--text ms-4">
                  ({{object.reviews_count}} review{{object.reviews_count>1?'s':''}})
                </div>
              </v-row>

              <div class="my-4 text-subtitle-1">
                <strong class="text-capitalize d-block text-subtitle-2">
                  <v-icon>mdi-map-marker</v-icon> {{object.city.name}}
                </strong> 
                <small v-for="category in object.categories" :key="category.id">{{category.name}}</small>
              </div>

              <div>{{object.content.substring(0, 100)}}...</div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>
            <v-card-actions>
              <v-btn color="deep-purple lighten-2" text :to="'/object/'+object.id">
                read more
              </v-btn>
            </v-card-actions>
          </v-card>
          
        </v-col >
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: "CategoryShow",
    data: () => ({
      name: '',
      loading: false,
      apiDomain: '',
      mediaDomain: '',
      category: {},
      nameRules: [],
    }),
    created() {
      this.apiDomain = this.$apiDomain
      this.mediaDomain = this.$mediaDomain

      const config = {
        method: 'get',
        url: this.apiDomain+'/category/'+this.$route.params.id
      }

      this.axios(config)
        .then(response => {
          this.category = response.data
          console.log(response.data.objects);
        })
        .catch(error => {
          console.log(error);
        })
    }

  }
</script>