<template>
  <v-row>
    <v-col cols="12" sm="7">
      <v-img
        :src="mediaDomain+object.featured_image"
      ></v-img>
    </v-col>
    <v-col cols="12" sm="5">
      <h1>{{object.name}}</h1>
      <span>
        <v-icon>mdi-map-marker</v-icon> {{object.city.name}}, {{object.province.name}}
      </span>
      <div class="d-flex">
        <v-rating :value="(object.average_rating ? parseInt(object.average_rating):0)" color="amber" dense half-increments readonly size="14"></v-rating>
        ({{object.reviews.length}} review{{object.reviews.length>1?'s':''}})
      </div>
      <div class="mt-2">{{object.content}}</div>
    </v-col>
    <v-col cols="12">
      <v-card class="pb-10">
        <v-tabs
          v-model="tab"
          background-color="blue-grey lighten-5"
        >
          <v-tab key="review">Review</v-tab>
          <v-tab key="route">Rute</v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item key="review">
            <v-card flat>
              <v-row v-for="review in object.reviews" :key="review.id">
                <v-col>
                  <v-card flat>
                    <v-card-title>{{review.title}}</v-card-title>
                    <v-card-subtitle>
                      <div class="d-flex">
                        <v-rating :value="parseInt(review.rating)" color="amber" dense half-increments readonly size="14"></v-rating>
                      </div>
                      by {{review.user.name}}
                    </v-card-subtitle>
                    <v-card-text>
                      {{review.content}}
                    </v-card-text>
                  </v-card>
                  <v-divider></v-divider>
                </v-col>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-col v-if="guest" class="text-center">
                  Please <router-link to="/user">Login</router-link> to post a review.
                </v-col>
                <v-col cols="11" v-else>
                  <h3>Post a review</h3>
                  <v-rating></v-rating>
                  <v-text-field label="Title"></v-text-field>
                  <v-textarea label="Content" auto-grow></v-textarea>
                  <v-btn color="primary">Post</v-btn>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
            </v-card>
          </v-tab-item>

          <v-tab-item key="route">
            <v-card flat>
              <v-row v-for="route in object.tracks" :key="route.id">
                <v-col>
                  <v-card flat>
                    <v-card-text>{{route.steps}}</v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'ObjectShow',
    data: () => ({
      apiDomain: '',
      mediaDomain: '',
      object: {},
      tab: {},
      guest: true
    }),
    created() {
      this.apiDomain = this.$apiDomain
      this.mediaDomain = this.$mediaDomain

      const config = {
          method: 'get',
          url: this.apiDomain+'/object/'+this.$route.params.id
        }

      this.axios(config)
      .then(response => {
        this.object = response.data.data.object
      })
      .catch(error => {
        console.log(error);
      })
    },
    methods: {
    }
  }
</script>