<template>
<!-- App.vue -->
  <v-app>
    <dialog-component />
    <!-- //Sidebar -->
    <v-navigation-drawer app v-model="drawer" class="d-md-none">
        <v-list class="d-md-none" >
          <v-list-item v-if="!guest">
            Hello, {{user.username}}
            <v-divider></v-divider>
          </v-list-item>
          <v-list-item
              v-for="(item, index) in menus"
              :key="index"
              :to="item.route"
          >
              <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
          </v-list-item>
        </v-list>
        <template v-slot:append v-if="guest">
          <div class="pa-2">
            <v-btn block color="primary" dark class="mb-2" depressed @click="login()"> 
              <v-icon left>mdi-lock</v-icon> Login
            </v-btn>
            <v-btn block color="green" dark depressed> 
              <v-icon left>mdi-account-plus</v-icon> Register
            </v-btn>
          </div>
        </template>
        <template v-slot:append v-else>
          <div class="pa-2">
            <v-btn block color="primary" dark class="mb-2" depressed to="/user"> 
              <v-icon left>mdi-account</v-icon> Profile
            </v-btn>
            <v-btn block color="red" dark depressed @click="logout"> 
              <v-icon left>mdi-logout</v-icon> Logout
            </v-btn>
          </div>
        </template>
    </v-navigation-drawer>

    <!-- //Navbar -->
    <v-app-bar app color="white" class="d-md-block d-none px-5" dark>
      <v-icon left style="color:#1f56ad;">mdi-airballoon</v-icon>
      <v-toolbar-title style="color:#1f56ad; font-weight:800;">DW Indonesia</v-toolbar-title>
      <v-spacer/>
      <v-list style="background-color:transparent; color:black" class="d-flex">
        <v-list-item
          v-for="(item, index) in menus"
          :key="index"
          :to="item.route"
        >
          <v-list-item-title class="grey--text text--darken-3">{{ item.title }}</v-list-item-title>      
        </v-list-item>
      </v-list>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on" fab small depressed>
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <v-list v-if="guest">
          <v-list-item @click="login()">
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Register</v-list-item-title>
          </v-list-item>
        </v-list>
        <v-list v-else>
          <v-list-item>
            <v-list-item-title>
              <strong>Hello, {{user.name}}</strong>
            </v-list-item-title>
          </v-list-item>
          <v-list-item to="/user">
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <!-- Nav Mobile -->
    <v-app-bar app color="white" class="d-md-none" style="" dark>
      <v-app-bar-nav-icon class="d-md-none" style="color:black" @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>

      <v-icon left style="color:#1f56ad;">mdi-airballoon</v-icon>
      <v-toolbar-title style="color:#1f56ad; font-weight:800;">DW Indonesia</v-toolbar-title>
      <v-spacer/>
      
    </v-app-bar>

    <!-- //Main -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
        
      </v-container>
    </v-main>

    <!-- //Footer -->
    <v-footer app>
      @Kelompok 7 Group 2 | PKS Digital School
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import DialogComponent from './components/DialogComponent.vue'

export default {
  name: 'App',
  components: {DialogComponent},
  data: () => ({
    drawer : false,
    menus : [
      {title : 'Home', icon : 'mdi-home' , route : '/'},
      {title : 'Objek Wisata', icon : 'mdi-airballoon-outline' , route : '/object'},
      {title : 'Kategori', icon : 'mdi-animation-outline' , route : '/category'},
    ],
    // guest : true,
  }),

  computed: {
    ...mapGetters({
      'dialog':'dialog/status',
      'guest':'auth/guest',
      'user':'auth/user',
      'token':'auth/token'
    })
  },

  methods: {
    logout(){
      let config = {
        method: "post",
        url: this.$apiDomain+'/auth/logout',
        headers: {
          'Authorization': "Bearer "+this.token
        }
      }

      this.axios(config).then(()=>{
        this.setToken('')
        this.setUser({})
        alert('logout berhasil')
      }).catch((response)=>{
        console.log(response)
        alert('logout gagal')
      })
    },

    login() {
      console.log("hello");
      this.setDialogComponent({'component':'LoginComponent'})
    },

    ...mapActions({
      setDialogComponent: 'dialog/setComponent',
      checkToken: 'auth/checkToken',
      setUser: 'auth/setUser',
      setToken: 'auth/setToken'
    })
  },

  mounted(){
    if (this.token) {
      this.checkToken(this.token)
    }
  }
};
</script>
