<template>
  <div class="profil" style="padding:0px 90px;  ">
    <v-container>
      <v-row style="">
        <v-col md="6" class="mx-auto">
            <div style=" box-shadow: 0 3px 10px #1f56ad; border-radius:20px; padding: 20px; ">
      
              <h2 style="text-align:center; color:#1f56ad;">{{user.username}} Profile</h2>
              <div class="div" style="width:100%; display:flex">
                <img src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png" style="margin:auto; height: 180px; width:180px; border-radius:50%; margin-top: 20px" alt="">
              </div>

              <div style="text-align:center; margin-top: 10px"><strong>Nama :</strong>{{user.name}}</div>
              <div style="text-align:center"><strong>Email : </strong>{{user.email}}</div>
              <div style="text-align:center"><strong>Role : </strong>{{user.role}}</div>
            </div>
        </v-col>
      </v-row>
    </v-container>
  </div> 
</template>

<script>
  import { mapGetters } from "vuex";

  export default {
    name: 'UserProfile',

    computed: {
      ...mapGetters ({
        'user':'auth/user'
      })
    }
  }

</script>