<template>
  <div class="object" style="padding:0px 90px;">
    
    <v-text-field v-model="name" :rules="nameRules" label="Cari Objek wisata yang kamu inginkan...." required></v-text-field>

    <v-container>
      <v-row>
        <v-col md="4">
          <template>
            <v-card :loading="loading" class="mx-auto my-12" max-width="374" v-for="(object, index) in objects" :key="index">
              <template slot="progress">
                <v-progress-linear color="deep-purple" height="10" indeterminate ></v-progress-linear>
              </template>

              <v-img height="250" :src="mediaDomain+object.featured_image" v-if="object.featured_image"></v-img>
              <v-img height="250" src="https://pix10.agoda.net/hotelImages/4869553/0/361de54823a1fe21058faaca71e86567.jpg?ca=24&ce=0&s=1024x768" v-else></v-img>

              <v-card-title>{{object.name}}</v-card-title>

              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating :value="(object.average_rating ? object.average_rating:0)" color="amber" dense half-increments readonly size="14"></v-rating>

                  <div class="grey--text ms-4">
                    ({{object.reviews_count}} reviews)
                  </div>
                </v-row>

                <div class="my-4 text-subtitle-1">
                  <strong class="text-capitalize">{{object.city.name}}</strong> <span v-for="category in object.categories" :key="category.id">,{{category.name}}</span>
                </div>

                <div>{{object.content.substring(0, 100)}}...</div>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-btn color="deep-purple lighten-2" text>
                  read more
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: "ObjectsIndex",
    data: () => ({
      name: '',
      loading: false,
      apiDomain: '',
      mediaDomain: '',
      objects: [],
      nameRules: [],
    }),
    created() {
      this.apiDomain = this.$apiDomain
      this.mediaDomain = this.$mediaDomain

      const config = {
        method: 'get',
        url: this.apiDomain+'/object'
      }

      this.axios(config)
        .then(response => {
          this.objects = response.data.data
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        })
    }

  }
</script>